---
import "../css/login-styles.css"

---
<html>
    <head>
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap" rel="stylesheet">
        <title>Sign Up</title>
    </head>
    <body>
        <div class= "logincard">
            
            <h1>Welcome!</h1>
            <h2>Sign Up</h2>
            <h3>Enter your credentials</h3>
            <h3><a href="login">Already have an account? Click here to Login!</a></h3><br>
            <form class="loginform">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                
                <button>Sign Up</button>
            </form>
        </div>
    </body>
</html>