---
import Icon from "astro-icon";
import Logo from "./Logo.astro";
---
<div class="navbar">
  <a href="/" class="mx-2 my-5 flex items-center" aria-label="Website Logo">
    <Logo /><p> &nbsp;&nbsp;&nbsp;&nbsp;Meals On Wheels</p>
  </a>
  <ul>
    <li><a href="menu">Browse the Menu</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="signup">Sign Up</a></li>
</ul>
</div>
                
<style>
  @import "https://fonts.googleapis.com/css?family=Poppins";
  .navbar{
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #18181b;
    font-family: 'Poppins';
}
p{
  color:white;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    /*text-transform: uppercase;*/
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f26c9a;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;;
}
.navbar ul li:hover::after{
    width: 100%;

}
</style>