[data-theme="dark"] {
    --color-primary: theme("colors.pink.400");
    --color-secondary: theme("colors.indigo.400");
    --color-text: theme("colors.gray.50");
    --color-text-offset: theme("colors.gray.400");
    --color-background: theme("colors.gray.900");
    --color-background-offset: theme("colors.gray.800");
    --color-border: theme("colors.gray.50" / 10%);
}