---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../css/index.css';
const { description, page } = Astro.props;
---
<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex"/>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>Meals On Wheels - {page}</title>
    <link rel="icon" type="image/svg+xml" href="/src/icons/logo.svg" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      />
    </noscript>

    <!-- social media -->
    <meta property="og:title" content="Meals on Wheels" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body class="h-full overflow-x-hidden text-base bg-default text-default">
    <Header />
    <main>
        <slot />
    </main>
    <Footer />
  </body>
</html>
<script>
    const navBtn = document.querySelector(".nav-toggle");
    const navMenu = document.querySelector(".nav-menu");
    navBtn.addEventListener("click", function () {
      navMenu.classList.toggle("hidden");
    });
</script>
